<%- include('parts/header')%>
<%- include('parts/navbar')%>
<div class="container">
    <p class="alert alert-danger mt-3"><%= err %></p>
    <p class="alert alert-primary mt-5" style="text-align: center;">
        <a href="/signup">Create Account</a>
    </p>
</div>

<%- include('parts/scripts')%>

</body>
</html>
